
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
    <link rel="stylesheet" href="/css/application.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/css/skeleton.css" type="text/css" />
    <link rel="stylesheet" href="/css/text.css" type="text/css" />
    <link rel="stylesheet" href="/css/unitedNationsBlue.css" type="text/css" />
    <link rel="stylesheet" href="/css/css.css" type="text/css" />
    <link rel="stylesheet" href="/css/css(1).css" type="text/css" />
    <link rel="stylesheet" href="/css/background.css" type="text/css" />
    <link rel="stylesheet" href="/css/admonitions.css" type="text/css" />

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div id="wrap">
        <div id="headerMeta"></div>
        <div id="header">
            <div class="container">
                <div class="sixteen columns">
                    <div class="logo">
                        <h1><a href="/"><img src="/images/blue_mascot on left of text_1.png" alt="Logo"/>
                        </a></h1>
                        <h2><div class="headertitle"><a href="/">{{ "Agiliq Articles" }}</a></div></h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="main_wrap">
            <div id="main">
                <div class="container">
                    {{ content }}
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <div class="six columns">
                    <div class="contact-widget">
                        <h4>Contact Us</h4>
                        <ul>
                            <li><span>email :</span> <a href="#" class="test">hello@agiliq.com</a></li>
                            <li><span>address :</span><p> Agiliq Info Solutions India Pvt Ltd,<br/>
                            Flat No. 302, Siri Sampada,<br/>
                            Above Food World, Near Madhapur Police Station,<br/>
                            Hyderabad - 500081. India.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="five columns">
                    <div class="know-widget">
                        <h4>Know More</h4>
                        <ul>
                            <li><span>Follow us on Twitter </span> <a class="twitter" href="http://twitter.com/agiliqdotcom">@agiliqdotcom</a></li>
                            <li><span>Connect us on Facebook </span> <a class="facebook" href="http://facebook.com/agiliq">Agiliq</a></li>
                            <li><span>Our Posterous : </span><a class="posterous" href="http://people.agiliq.com/">http://people.agiliq.com/</a></li>
                            <li><span>Our Tumblr : </span> <a class="tumblr" href="http://agiliq.tumlr.com/">http://agiliq.tumlr.com/</a></li>
                        </ul>
                    </div>
                </div>
                <div class="five columns">
                    <div class="books-widget">
                        <h4>Read Our Books</h4>
                        <ul>
                            <li><span>Django Design Pattrens - </span> <a href="http://agiliq.com/books/djangodesignpatterns/">Click here</a></li>
                            <li><span>Djen of Django - </span> <a href="http://agiliq.com/books/djenofdjango/">Click here</a></li>
                            <li><span>Django Gotchas - </span> <a href="http://agiliq.com/books/djangogotchas/">Click here</a></li>
                            <li><span>Software Consulting Howto - </span> <a href="http://agiliq.com/softwareconsulting/">Click here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
