
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
    <link rel="stylesheet" href="/css/application.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/css/skeleton.css" type="text/css" />
    <link rel="stylesheet" href="/css/text.css" type="text/css" />
    <link rel="stylesheet" href="/css/unitedNationsBlue.css" type="text/css" />
    <link rel="stylesheet" href="/css/css.css" type="text/css" />
    <link rel="stylesheet" href="/css/css(1).css" type="text/css" />
    <link rel="stylesheet" href="/css/background.css" type="text/css" />
    <link rel="stylesheet" href="/css/admonitions.css" type="text/css" />

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div id="wrap">
        <div id="headerMeta"></div>
        <div id="header">
            <div class="container">
                <div class="sixteen columns">
                    <div class="logo">
                        <h1><a href="/"><img src="/images/blue_mascot on left of text_1.png" alt="Logo"/>
                        </a></h1>
                        <h2><div class="headertitle"><a href="/">{{ "Agiliq Articles" }}</a></div></h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="main_wrap">
            <div id="main">
                <div class="container">
                    {{ content }}
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <div class="sixteen columns">
               
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
